 .u-section-1 {
  background-image: linear-gradient(to right, #333333, #4cf00d);
}

.u-section-1 .u-sheet-1 {
  min-height: 463px;
} .u-section-2 {
  background-image: linear-gradient(to right, #4cf00d, #333333);
}

.u-section-2 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-2 .u-text-1 {
  margin: 137px auto 0;
}

.u-section-2 .u-form-1 {
  height: 572px;
  background-image: none;
  width: 488px;
  margin: 208px auto 60px;
}

.u-section-2 .u-label-1 {
  text-transform: uppercase;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  text-transform: uppercase;
}

.u-section-2 .u-input-2 {
  text-transform: uppercase;
}

.u-section-2 .u-line-1 {
  height: 0;
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}