{% extends "app/layout.html" %}


{% block content %}
<div class="registration-form-container">
    <h2>User registration</h2>
    <form method="POST" action="{% url 'register' %}" class="registration-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>

        <div class="form-group">
            <label for="{{ form.company_name.id_for_label }}">Company Name:</label>
            {{ form.company_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>

        <button type="submit" class="register-button">Register</button>
    </form>
</div>
<style>
    .registration-form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .registration-form .form-group {
        margin-bottom: 15px;
    }

    .registration-form label {
        display: block;
        margin-bottom: 5px;
    }

    .registration-form input,
    .registration-form select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .registration-form button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .registration-form button:hover {
            background-color: #45a049;
        }
</style>
{% endblock %}
